*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.myCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("img/colors.png");
}
.myCards .card{
    position: relative;
    width: 380px;
    height: auto;
    margin: 20px 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgb(0,0,0,0.5);
}
.myCards .card:hover{
    transform: scale(1.1);
}
.myCards .card img{
    width: 100%;
}
.myCards .card:hover .image{
    -webkit-filter:brightness(50%) ;
    transition: 1s all ease;
}
.myCards .middle{
    position: absolute;
    top:30%;
    left: 50%;
    opacity: 0;
    -webkit-filter: brightness(100%);
    transition: 0.5s ease;
    transform: translate(-50%,-50%);
}
.myCards .card:hover .middle{
    opacity: 1;
}
@media(max-width:768px){
    .myCards .card{
        width: 95%;
    }
    .myCards .card:hover{
        transform: scale(1);
    }
}